@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#os-layout {
    width: 100%;
    height: 100dvh;
    position: relative;
    /* overflow:hidden */
}

:root {
    /* NEUTRAL */
    --color-accent: rgb(38, 121, 243);
    --color-light-accent: #3f84f9;
    --color-light-gray: #e8e8eed5;
    --color-orange: rgb(237, 129, 20);
    --color-gray: rgb(132, 132, 132);
    --color-green: rgb(38, 165, 22);
    --color-lime: rgb(133, 242, 144);

    --bg-close: #ff6157;
    --bg-minimize: #ffc030;
    --bg-zoom: #2acb42;


    /* LIGHT THEME  */
    /* --primary-light-clr: rgb(232, 232, 232); */
    --primary-light-clr: rgb(252, 252, 254);
    --sec-light-clr: rgb(246, 246, 248);
    --third-light-clr: rgb(233, 233, 235);
    --grayish-light-clr : rgb(128, 128, 128);
    --btn-light-hover: rgba(209, 205, 205, 0.938);




    /* DARK THEME */
    --primary-dark-clr: rgb(1, 1, 1);
    --primary-dark-clr-low: rgb(49, 49, 49, 0.7);
    --sec-dark-clr: rgb(23, 23, 25);
    --third-dark-clr: rgb(45, 45, 47);
    --grayish-dark-clr: rgb(145, 145, 145);

    --bg-dark-header: #252525;

    --bg-dark-app-body: #38383A;












    /* Box Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 1px 2px rgba(0, 0, 0, 0.15);
    --shadow-xl: 0 1px 2px rgba(0, 0, 0, 0.2);
    --shadow-xxl: 0 1px 2px rgba(0, 0, 0, 0.3);


    /* Font Sizes */
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-xxl: 32px;
    --font-xxxl: 50px;

    /* Font weights */
    --weight-normal: 400;
    --weight-md: 500;
    --weight-sb: 600;
    --weight-b: 700;

    /* border radius */
    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-radius-lg: 18px;
    --border-radius-xl: 24px;
    --border-radius-xxl: 30px;

    /* padding  */
    --padding-xs: 3px;
    --padding-sm: 6px;
    --padding-md: 12px;
    --padding-lg: 18px;
    --padding-xl: 24px;
    --padding-xxl: 30px;
    --padding-smvw: 1.5vw;
    --padding-lgvw: 3vw;
    --padding-dock: 12px;

    /* Spacing/Gaps */
    --gap-xs: 4px;
    --gap-sm: 8px;
    --gap-md: 16px;
    --gap-lg: 24px;
    --gap-xl: 32px;

    /* transition/Animations */
    --transition-fast: 0.15s;
    --transition-medium: 0.3s;
    --transition-slow: 0.5s;

    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

    /* z-index layers */
    --z-dock: 20;
    --z-top: 10;

}



/* TO HIDE SCROLLBARS OF OVERFLOWS AREAS */
.calc-result,
.categories,
.AllNotes-container,
.folder-category-list,
.newTask-title,
.newTask-desc,
.task-desc-parent,
.about-us-overflow-area,
.display-overflow-area,
.app-overflow-area,
.additional-overflow-area,
body,
html {
    scrollbar-width: none;
}