@import "tailwindcss";

/* PLUS SANS */
@font-face {
    font-family: PlusSansRegular;
    src: url('./assets/fonts/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: PlusSansSemiBold;
    src: url('./assets/fonts/PlusJakartaSans-SemiBold.ttf');
}

@font-face {
    font-family: PlusSansBold;
    src: url('./assets/fonts/PlusJakartaSans-Bold.ttf');
}

@font-face {
    font-family: PlusSansExtraBold;
    src: url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf');
}

/* POPPINS  */
@font-face {
    font-family: PoppinsRegular;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf');
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#os-layout {
    width: 100%;
    height: 100dvh;
    position: relative;
    /* overflow:hidden */
}

/* HOVER AND ACTIVE CLASSES */
.HOVER_CLASS:hover {
    background-color: var(--hover) !important;
}

/* .HOVER_CLASS:active {
    background-color: var(--active) !important;
} */

.HOVER_CLR_CLASS:hover {
    color: var(--hover) !important;
}

/* .HOVER_CLR_CLASS:active{
    color : var(--active) !important;
} */

.Placeholder::placeholder {
    color: var(--placeholder);
}

@keyframes shrink-grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.animation-shrink-grow {
    animation: shrink-grow 1s ease-out infinite;
}

.animation-shrink-grow:hover {
    animation-play-state: paused;
}


/* ANIMATION FOR ANIMATION PREVIEW BTNS */
.AnimBtn {
    animation: move0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move0 {
    to {
        left: calc(100% - 0.8rem - var(--btn-width));
    }
}



:root {
    /* NEUTRAL */
    --color-accent: #3B82F6;
    --color-danger: #EF4444;
    --color-green: rgb(38, 165, 22);
    --color-lime: rgb(133, 242, 144);
    --color-light-accent: #6096f3;
    --bg-close: #ff6157;
    --bg-minimize: #FACC15;

    --color-dark-red-light: rgba(239, 68, 68, 0.10);
    --color-dark-red: rgba(239, 68, 68, 0.45);
    --color-ultra-light-accent: #b5cbf8e0;
    --color-light-gray: #e8e8eed5;
    --color-orange: rgb(237, 129, 20);
    --color-gray: rgb(132, 132, 132);

    --bg-zoom: #2acb42;


    /* LIGHT THEME
      */
    --color-lightDarkish-white: #EEF2F7;
    --primary-light-clr: #FFFFFF;
    --sec-light-clr: #F3F4F6;
    --third-light-clr: rgb(233, 233, 235);
    --grayish-light-clr: rgb(128, 128, 128);
    --btn-light-hover: rgba(209, 205, 205, 0.938);




    /* DARK THEME */
    --primary-dark-clr: rgb(1, 1, 1);
    --primary-dark-clr-low: rgb(49, 49, 49, 0.7);
    --sec-dark-clr: rgb(23, 23, 25);
    --third-dark-clr: rgb(45, 45, 47);
    --grayish-dark-clr: rgb(145, 145, 145);

    --bg-dark-header: #252525;

    --bg-dark-app-body: #38383A;












    /* Box Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 1px 2px rgba(0, 0, 0, 0.15);
    --shadow-xl: 0 1px 2px rgba(0, 0, 0, 0.2);
    --shadow-xxl: 0 1px 2px rgba(0, 0, 0, 0.3);


    /* Font Sizes */
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-xxl: 32px;
    --font-xxxl: 50px;

    /* Font weights */
    --weight-normal: 400;
    --weight-md: 500;
    --weight-sb: 600;
    --weight-b: 700;

    /* border radius */
    --border-radius-sm: 6px;
    --border-radius-md: 12px;
    --border-radius-lg: 18px;
    --border-radius-xl: 24px;
    --border-radius-xxl: 30px;

    /* padding  */
    --padding-xs: 3px;
    --padding-sm: 6px;
    --padding-md: 12px;
    --padding-lg: 18px;
    --padding-xl: 24px;
    --padding-xxl: 30px;
    --padding-smvw: 1.5vw;
    --padding-lgvw: 3vw;
    --padding-dock: 12px;

    /* Spacing/Gaps */
    --gap-xs: 4px;
    --gap-sm: 8px;
    --gap-md: 16px;
    --gap-lg: 24px;
    --gap-xl: 32px;

    /* transition/Animations */
    --transition-fast: 0.15s;
    --transition-medium: 0.3s;
    --transition-slow: 0.5s;

    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

    /* z-index layers */
    --z-dock: 20;
    --z-top: 10;

}



/* TO HIDE SCROLLBARS OF OVERFLOWS AREAS */
.calc-result,
.categories,
.AllNotes-container,
.folder-category-list,
.newTask-title,
.newTask-desc,
.task-desc-parent,
.about-us-overflow-area,
.display-overflow-area,
.app-overflow-area,
.additional-overflow-area,
.deep-about-us,
.deep-darkmode-option,
.deep-controlAnimation-option,
.deep-colorScheme-option,
.settings-deepCommon-overflow-UI,
.deep-changeWallpaper-option,
.overflow-cloclTab,
body,
html {
    scrollbar-width: none;
}


.loader {
    animation: loaderAnim 1.5s linear infinite;
}

@keyframes loaderAnim {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.Updater::before {
    content: '';
    position: absolute;
    transform: scaleX(0);
    left: 0;
    top: 0;
    background-color: white;
    width: 120px;
    height: 12px;
    border-radius: 8px;
    transform-origin: left;
    animation: update 10s linear forwards;
}

@keyframes update {
    0% {
        transform: scaleX(0)
    }

    10% {
        transform: scaleX(0.05)
    }

    20% {
        transform: scaleX(0.25)
    }

    30% {
        transform: scaleX(0.25)
    }

    40% {
        transform: scaleX(0.35)
    }

    50% {
        transform: scaleX(0.6)
    }

    60% {
        transform: scaleX(0.67)
    }

    70% {
        transform: scaleX(0.75)
    }

    80% {
        transform: scaleX(0.85)
    }

    90% {
        transform: scaleX(0.91)
    }

    95% {
        transform: scaleX(0.95)
    }

    100% {
        transform: scaleX(1)
    }
}


.dotLoader {
  width: 10px;
  aspect-ratio: 4;
  
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}